/* The switch - the box around the slider */
.switch {
  display: inline-flex;
  height: 34px;
  position: relative;
  width: 60px;

}

.switchText {
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* The slider */
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  -webkit-transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex-container {
  display: flex;
  align-items: center;
}

hr {
    width:50%;
    margin:0 auto;
    margin-top: 10;
    margin-bottom: 10;
}

.settingOption {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

a.button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#2196F3;
  text-align:center;
  transition: all 0.2s;
}
a.button:hover{
  background-color:#4095c6;
}
@media all and (max-width:30em){
  a.button{
    display:block;
    margin:0.2em auto;
  }
}

.card-flex-container-card {
  flex-direction: column;
}

.card-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-flex-container-strategy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card-flex-container-card {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.card-flex-container-card-image {
  /* text-align: center; */
}

.card-flex-container-card-text {
  width: 165px;
  height: 110px;
}

.card-text {
  white-space: pre-line;
  overflow: hidden;
}

.strategy-green {
 color: rgb(26, 195, 78);
}

.strategy-red {
  color: rgb(255, 65, 97);
}

.strategy-blue {
  color: rgb(2, 141, 243);
}

.strategy-sp {
  background-color: rgb(50, 50, 50)
}

.card-icon-img {
  height: 40px;
  width: 40px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 720px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.about {
  white-space: pre-line;
}

.changelog {
  white-space: pre-line;
}

